<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			margin: 20px;
		}
	</style>
</head>
<body>
	<h1>Error</h1>
	<p><%= message %></p>
	<p><%= error.status %> <%= error.stack %></p>
</body>
</html>