<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/public/stylesheets/homeMainTopNav.css">
    <link rel="stylesheet" href="/public/stylesheets/homeMain.css">
  
  </head>
  <body>

    <div class="main-home-container">
    <div class="main-home-top-container">
      <header>
      
      <div class="main-home-topnav" id="main-home-myTopnav">
        <!--<div class="dropdown-content responsive">-->
        <a class="company-name"><span style="color:#ffffff;
           margin:0%;">
            &nbsp TEN </span>
            <span style="color:#06b3b3;">GLOBAL</span>
            </a>
        
        <a href="#notification" class="menu-head nav-link" id="notification-btn" style="margin: 0%;"><i class="fa-regular fa-bell"></i>
        <span class="notification-title" id="notification-count">0</span></a>
        <a href="#contact" class="menu_head nav-link" href="#contact">Contact</a>
      
        <a href="#about" class="menu-head nav-link">About</a>
        <a class="menu-head nav-link" href="#profile">Profile</a>
        <a class="menu-head" href="/signin" id="logout-btn"><i class="fa fa-sign-in"></i>
          Login/ Register</a>
        
      <!--</div>-->
      <a href="javascript:void(0);" 
        style="font-size:15px;border:none; border-radius: 5px 5px 5px 5px; margin:0" 
        class="icon" onclick="myFunction()">&#9776;</a>
      </div>
      </header>
      </div>

      <section>
        
      </section>
    </div>
  </body>
</html>