<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Reset password</title>
    <link rel="stylesheet" href="/public/stylesheets/resetNewPassword.css">
  </head>
  <body>
    
    <div class="outer-reset-form-container">
      <div class="reset-form-container">
  
      <h1 class="page-title">Reset password</h1>
      <div class="error" style="background-color: red;"></div>
      <p>Enter your new password</p>
        <!--method="POST" action="api/auth/signup"-->
        <form class="form-reset" id="save-password-form">
          <label for="new-password"></label><br />
          <input type="password" id="new-password" name="new-password" placeholder="Enter password" autocomplete="off" autofill="off" required /><br />
          <label for="match-password"></label><br />
      <input type="password" id="match-password" name="password" placeholder="Confirm Password" required /><span id="match-password-display"></span> <br />
          <br />
          <input type="submit" value="Submit" id="save-submit-btn"/><br />
        </form>
      <div class="login-redirect">
        wanna go back to login page?
        <a href="/signin"> Login</a>
        <p id="userExists">dd</p>
      </div>
    </div>
  </div>

    <script>
    
        const form = document.querySelector('#save-password-form');
        const password = document.getElementById('new-password');
        const matchPassword = document.querySelector('#match-password');
        const matchPasswordDisplay = document.getElementById("match-password-display");
        const display = document.querySelector('.error')
        const userExists = document.getElementById("userExists");
        const submitBtn = document.getElementById("save-submit-btn");
        matchPasswordDisplay.style.margin = "5px";

    form.addEventListener('submit', handleSubmit);

      async function handleSubmit(e) {
        e.preventDefault();
        e.stopPropagation();
        e.stopImmediatePropagation();
        display.textContent = '';

        const newPassword = password.value;
        const formData = { newPassword };

        try {
          const res = await fetch(`${window.location.origin}/api/auth/save-new-password`, {
            method: 'POST',
            body: JSON.stringify(formData),
            headers: {
              'Content-Type': 'application/json'
            }
          });

    const data = await res.json();

    if(password.value !== "" || matchPassword !== "") {
      submitBtn.disabled = false;
    } else {
      submitBtn.disabled = true;
      submitBtn.style.color = "#fff";
      submitBtn.style.backgroundColor = "gray";
    }

    //const cookies = document.cookie.split(';');
    //const cookieValue = cookies.find(cookie => cookie.includes('cookieName=')).split('=')[1];

    if (res.status === 400 || res.status === 401) {
      displayError(data.savePasswordError);

    } else if (res.status === 200 || res.status === 201) {
      displaySuccess(data.savePasswordMessage);
      window.location.href = '/signin';
    }
  } catch (err) {
    displayError(err.message);
  }
}

function displayError(message) {
  display.style.display = "block";
  display.textContent = message;
}

function displaySuccess(message) {
  display.style.display = "block";
  display.textContent = message;
} 

  matchPassword.addEventListener("focusout", (ePasswordMatch) => {

    if (ePasswordMatch.target.value === "" || password.value === "") {
        matchPasswordDisplay.hidden = true;
    }
    if (ePasswordMatch.target.value !== password.value) {
        matchPasswordDisplay.hidden = false;
        matchPasswordDisplay.style.color = "red";
        matchPasswordDisplay.innerHTML = `<i class="fa-solid fa-circle-xmark"></i>`;//"first password does not match!";

        submitBtn.disabled = true;
        submitBtn.style.color = "#fff";
        submitBtn.style.backgroundColor = "gray";
        return
    } else {
        submitBtn.disabled = false;
        submitBtn.style.color = "#0454bd";
        submitBtn.style.backgroundColor = "goldenrod";
        matchPasswordDisplay.style.color = "green";
        matchPasswordDisplay.innerHTML = `<i class="fa-solid fa-circle-check"></i>`; //"first password match";

        form.addEventListener('submit', async (e) => {
          //window.alert("pressed")
          e.preventDefault()
      
          //e.stopPropagation()
          //e.stopImmediatePropagation()
          display.textContent = ''

          const passwordValue = password.value
          const matchPasswordValue = matchPassword.value

          if (passwordValue !== matchPasswordValue) {
              matchPasswordDisplay.hidden = false;
              matchPasswordDisplay.style.color = "red";
              matchPasswordDisplay.innerHTML = `<i class="fa-solid fa-circle-xmark"></i>`;//"password does not match!";
              
          return

      } else {
          submitBtn.disabled = false;
          matchPasswordDisplay.style.color = "green";
          matchPasswordDisplay.innerHTML = `<i class="fa-solid fa-circle-check"></i>`;//"password match";
      }
    })
  }
    })
    </script>
  </body>
</html>